[Unit]
Description=Reload systemd daemon after etc.mount
Requires=etc.mount
After=etc.mount
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl daemon-reload
ExecStart=/bin/mount -a
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

