# /etc/cloud/cloud.cfg.d/10-shanios-aws.cfg
datasource_list: [Ec2, None]

datasource:
  Ec2:
    timeout: 50
    max_wait: 120
    metadata_urls:
      - http://169.254.169.254
      - http://[fd00:ec2::254]
    apply_full_imds_network_config: true

system_info:
  default_user:
    name: shanios
    shell: /bin/zsh
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    groups: [wheel, sys, input, kvm, lxd, libvirt, sambashare]
    lock_passwd: true

preserve_hostname: false
manage_etc_hosts: true

cloud_init_modules:
  - migrator
  - seed_random
  - bootcmd
  - write-files
  - growpart
  - resizefs
  - disk_setup
  - mounts
  - set_hostname
  - update_hostname
  - update_etc_hosts
  - users-groups
  - ssh

cloud_config_modules:
  - ssh-import-id
  - keyboard
  - locale
  - set-passwords
  - ntp
  - timezone
  - disable-ec2-metadata
  - runcmd

cloud_final_modules:
  - scripts-vendor
  - scripts-per-once
  - scripts-per-boot
  - scripts-per-instance
  - scripts-user
  - ssh-authkey-fingerprints
  - final-message
