[Unit]
Description=Bees BTRFS deduplication setup
Documentation=https://github.com/Zygo/bees

Requires=etc-overlay.mount
After=etc-overlay.mount local-fs.target
Before=etc-daemon-reload.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/abin/beesd-setup

[Install]
WantedBy=multi-user.target
