[Unit]
Description=Mount overlays and reload systemd daemon

Requires=etc-overlay.mount
After=etc-overlay.mount beesd-setup.service
Before=etc-start-services.service

[Service]
Type=oneshot
ExecStart=/usr/abin/mount-and-reload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
