[Unit]
Description=Start services from overlay filesystem
After=etc-daemon-reload.service
ConditionPathExists=!/run/start-overlay-services.done

[Service]
Type=oneshot
ExecStart=/usr/abin/start-overlay-services
RemainAfterExit=yes
TimeoutStartSec=30s
Restart=no

[Install]
WantedBy=multi-user.target
