[Unit]
Description=Mount overlays and reload systemd daemon
DefaultDependencies=no
After=local-fs.target systemd-remount-fs.service
Before=sysinit.target systemd-vconsole-setup.service

[Service]
Type=oneshot
ExecStart=/usr/abin/mount-and-reload
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
