[Unit]
Description=Mount overlays and reload systemd daemon
After=multi-user.target
Before=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/abin/mount-and-reload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
