[Unit]
Description=Sync groups, shell, and skel for all regular users

Requires=accounts-daemon.service etc-overlay.mount
After=accounts-daemon.service etc-overlay.mount

[Service]
Type=oneshot
ExecStart=/usr/abin/shani-user-setup
TimeoutStartSec=60s

[Install]
WantedBy=multi-user.target
