[Unit]
Description=Ensure /var/lib/snapd/snap and /snap exist for snapd bind mount
Documentation=man:tmpfiles.d(5)
DefaultDependencies=no
After=var-lib-snapd.mount
RequiresMountsFor=/var/lib/snapd
Before=snap.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-tmpfiles --create /usr/lib/tmpfiles.d/shanios-snapd-snap-dir.conf

[Install]
WantedBy=snap.mount
